.checkbox {
	display: inline-block;
	margin-bottom: 20px;
}
.checkbox input {
	display: none;
}
.checkbox__label {
	position: relative;
	padding-left: 45px;
	cursor: pointer;
	user-select: none;
}
.checkbox__label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background-color: #23243e;
	border-radius: 7px;
	background-image: url(../../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0%;
	transition: all 100ms ease-in-out;
}

.checkbox input:checked ~ .checkbox__label::before {
	background-color: #001aff;
	background-size: 100%;
}