.dropdown {
  position: relative;
}
.dropdown__drop {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px 0;
  width: 210px;
  background-color: #16182d;
  border-radius: 10px;
  top: 100%;
  transition: all 150ms ease-in-out;
  /* hide menu */
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.dropdown__drop--active {
  visibility: visible;
  opacity: 1;
  z-index: 3;
  top: calc(100% + 7px);
}
.dropdown__drop:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 17px;
  width: 10px;
  height: 10px;
  background-color: #16182d;
  transform: rotate(45deg);
}
.dropdown__drop-item {
  padding: 7px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}
.dropdown__drop-item:hover {
  background-color: #23243e;
  color: #f73164;
}
