* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Circe", sans-serif;
  min-width: 1100px;
  height: auto;
  background-color: #090a1a;
  color: #fff;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
button {
  /* outline: none; */
  font-family: inherit;
  font-size: inherit;
}
input {
  font-size: inherit;
  font-family: inherit;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
