[data-tooltip] {
  position: relative;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  left: calc(100% + 12px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #16182d;
  color: #fff !important;
  border-radius: 10px;
  padding: 10px 20px;
  min-width: 217px;
  max-width: 250px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-in-out;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
}
[data-tooltip]:hover:before {
  z-index: 2;
  opacity: 1;
  visibility: visible;
  left: calc(100% + 17px);
}
